<section class="blogs" id="blogs">

    <div class="heading">
        <span>our blogs</span>
        <h3>our daily stories</h3>
    </div>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <h3><i class="fas fa-calendar"></i> 21st may, 2021 </h3>
                <img src="../../../../assets/img/blog-1.jpg" alt="">
            </div>
            <div class="content">
                <div class="tags">
                    <a href="#"><i class="fas fa-tag"></i> food /</a>
                    <a href="#"><i class="fas fa-tag"></i> burger /</a>
                    <a href="#"><i class="fas fa-tag"></i> pizza /</a>
                </div>
                <h3>blog title goes here...</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dolor sunt cumque quasi, distinctio ut iure minus sed saepe rerum recusandae sapiente rem excepturi voluptas nobis reiciendis voluptates provident eaque.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <h3><i class="fas fa-calendar"></i> 21st may, 2021 </h3>
                <img src="../../../../assets/img/blog-2.jpg" alt="">
            </div>
            <div class="content">
                <div class="tags">
                    <a href="#"><i class="fas fa-tag"></i> food /</a>
                    <a href="#"><i class="fas fa-tag"></i> burger /</a>
                    <a href="#"><i class="fas fa-tag"></i> pizza /</a>
                </div>
                <h3>blog title goes here...</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dolor sunt cumque quasi, distinctio ut iure minus sed saepe rerum recusandae sapiente rem excepturi voluptas nobis reiciendis voluptates provident eaque.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <h3><i class="fas fa-calendar"></i> 21st may, 2021 </h3>
                <img src="../../../../assets/img/blog-3.jpg" alt="">
            </div>
            <div class="content">
                <div class="tags">
                    <a href="#"><i class="fas fa-tag"></i> food /</a>
                    <a href="#"><i class="fas fa-tag"></i> burger /</a>
                    <a href="#"><i class="fas fa-tag"></i> pizza /</a>
                </div>
                <h3>blog title goes here...</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dolor sunt cumque quasi, distinctio ut iure minus sed saepe rerum recusandae sapiente rem excepturi voluptas nobis reiciendis voluptates provident eaque.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

    </div>

</section>