<section class="home" id="home">

    <div class="content">
        <span>Welcome foodies</span>
        <h3>different spices fot the different tastes</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus fuga maxime excepturi laudantium distinctio at, ea dolore dignissimos velit officia repudiandae delectus non quidem accusantium beatae rem reprehenderit aliquid sed!</p>
        <a href="#" class="btn">order now</a>
    </div>
    <div class="image">        
        <img src="../../../../assets/img/home-img.png" alt="" class="home-img">
        <img src="../../../../assets/img/home-parallax-img.png" alt="" class="home-parallax-img">
    </div>

</section>
